
.dashboard {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 220px 500px 150px;
}

  .sidebar{
    background-color: rgb(0, 132, 255);
    color: white;
    display: grid;
  }
    .dashboard-logo{
      font-size: x-large;
      width: 30px;
      height: 30px;
      display: flex;
      padding: 10px;
    }
    .options{
      width: 30px;
      height: 30px;
      padding: 10px;
      font-size:medium;
      font-weight: bold;
    }
      .home{
        display: flex;
      }
      .profile{
        display: flex;
      }
      .messages{
        display: flex;
      }
      .history{
        display: flex;
      }
      .tasks{
        display: flex;
      }
      .communities{
        display: flex;
      }
    .other-options{
      width: 30px;
      height: 30px;
      padding: 10px;
      font-size:medium;
      font-weight: bold;
    }
      .settings{
        display: flex;
      }
      .support{
        display: flex;
      }
      .privacy{
        display: flex;
      }


  .header{
    background-color: rgb(255, 255, 255);
  }
    .search-box{
      width: 30px;
      height: 30px;
      display: flex;
    }
    .right-searchbox{
      width: 30px;
      height: 30px;
      display: flex;
    }
    .header-buttons{
      
    }

  .content{
    background-color: rgb(163, 163, 163);
  }
