
.dashboard {
  display: grid;
  grid-template-rows: 180px;
  grid-template-columns: 200px 900px;
}

  .sidebar{
    grid-row: 1 / 7;
    background-color: rgb(0, 132, 255);
    color: white;
    display: grid;
  }
    .dashboard-logo{
      font-size: x-large;
      width: 30px;
      height: 30px;
      display: flex;
      padding: 10px;
      gap: 10px;
      .filter-white{
        filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
      }
      
    }
    .options{
      position: relative;
      bottom: 320px;
      width: 30px;
      height: 30px;
      font-size:medium;
      font-weight: bold;
    }
      .home{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .profile{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .messages{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .history{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .tasks{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .communities{
        display: flex;
        gap: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
    .other-options{
      width: 30px;
      height: 30px;
      position: relative;
      bottom: 450px;
      font-size:medium;
      font-weight: bold;
    }
      .settings{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .support{
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }
      .privacy{
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
        margin-inline-start: 10px;
        .filter-white{
          filter:invert(100%) sepia(0%) saturate(7449%) hue-rotate(345deg) brightness(97%) contrast(111%);
        }
      }


  .header{
    
    background-color: rgb(222, 142, 142);
    display: flex;
    flex-direction: column;
    
  }
    .search-box{
      margin: 10px;
      width: 30px;
      height: 30px;
      display: flex;
      
    }
    .right-searchbox{
      margin-left: 500px;
      width: 30px;
      height: 30px;
      display: flex;
    }
    .header-buttons{
      
    }

  .content{
    grid-row: 2 / 7;
    grid-column: 2 / 6;
    background-color: rgb(163, 163, 163);
  }
